html{
  height: 100%;
  background-color: rgb(219, 219, 219);
}

header{
  width: 100%;
  height: 150px;
  background-color: rgb(87, 155, 150);
  margin-top: 0;
  position: relative;


  h1{
    color: white;
    position: absolute;
    left: 5%;
    top: 20%;
  }

  .LinkContainer{
position: absolute;
    right: 5%;
    margin-top: 60px;
  a{
    color: white  
  }
  .LinkContainer__username{
    color: aliceblue;
  }
}
}

main{
  place-items: center;
  display: grid;

  form{
  label{
    place-items: center;
  display: grid;
    

    input{
      width: 200px;
      
    }
    #icon{
      width: auto;
    }
  }
  .iconview{
    display: grid;
    place-items:center;
  }
}
}