main {
  display: grid;
  place-items: center;

  .BookList__Container {
    margin-right: 40px;

    .BookList__Title {
      list-style: none;
      width: 350px;
      height: 30px;
      background-color: white;
      border: 1px solid;
      border-color: black;
      margin-bottom: 2px;
      border-radius: 5px;
      text-align: center;
    }
  }
}
